:root {
	--text-primary: #282a36;
	--text-helper: #8d8d8d;
	--background: #fff;
	--accent: #6befef;
	--accent-grad: linear-gradient(45deg, #72a8e5 0%, #6befef 100%);

	--font-weight-normal: 400;
	--font-weight-bold: 600;

	background: var(--background);
	font-size: 24px;
	font-family: 'Robot', sans-serif;
	font-weight: var(--font-weight-normal);
	color: var(--text-primary);
}

body {
	background-color: var(--background);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	color: var(--text-primary);
	text-decoration: none;
	position: relative;

	&.external {
		padding-right: 0.85em;
	}

	&.external::after {
		content: '';
		width: 0.6em;
		height: 0.6em;
		margin-left: 0.25em;
		margin-right: -0.85em;
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m13.90138,10.37743l-0.01199,-9.22362c0,-0.29958 -0.09505,-0.54397 -0.28498,-0.73316c-0.18211,-0.19708 -0.43164,-0.29563 -0.74843,-0.29563l-9.26547,0c-0.30092,0 -0.54246,0.09855 -0.7246,0.29563c-0.18215,0.18919 -0.27322,0.41388 -0.27322,0.67404c0,0.25226 0.09503,0.47299 0.2851,0.6622c0.19798,0.18919 0.42367,0.2838 0.67709,0.2838l2.744,0l4.704,-0.16555l-1.79371,1.52543l-8.8497,8.8334c-0.19798,0.18925 -0.29697,0.40997 -0.29697,0.66219c0,0.26017 0.099,0.49266 0.29697,0.69765c0.2059,0.20499 0.43952,0.30757 0.70085,0.30757c0.26133,0 0.48703,-0.09462 0.67709,-0.28387l8.86159,-8.83338l1.55611,-1.7856l-0.20194,4.6473l0,2.7789c0,0.25228 0.09503,0.47695 0.28503,0.67404c0.1981,0.19708 0.42765,0.29563 0.689,0.29563c0.25353,0 0.47908,-0.09461 0.67718,-0.2838c0.19792,-0.1971 0.29697,-0.44148 0.29697,-0.73316z" /></svg>');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
	}

	&.external::before {
		content: '';
		position: absolute;
		bottom: 0.08em;
		left: 0;
		height: 0.08em;
		width: 100%;
		background: var(--text-primary);
	}

	&:hover {
		background: var(--accent-grad);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

	&:hover::before {
		background: var(--accent-grad);
	}
}

// a[href^="http"]:not(:has(svg, img))::after {

h1,
h2,
h3 {
	font-size: 1em;
	font-weight: var(--font-weight-normal);
}

.main-content {
	max-width: 640px;
	margin: 0 auto;
}
