:root {
	--text-primary: #282a36;
	--text-helper: #8d8d8d;
	--background: #fff;
	--accent: #6befef;
	--accent-grad: linear-gradient(45deg, #72a8e5 0%, #6befef 100%);

	--font-weight-normal: 400;
	--font-weight-bold: 600;

	background: var(--background);
	font-size: 24px;
	font-family: 'Robot', sans-serif;
	font-weight: var(--font-weight-normal);
	color: var(--text-primary);
}

body {
	background-color: var(--background);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	color: var(--text-primary);
	text-decoration: none;
	position: relative;

	&.external {
		padding-right: 0.85em;
	}

	&.external::after {
		content: '';
		width: 0.6em;
		height: 0.6em;
		margin-left: 0.25em;
		margin-right: -0.85em;
		background-image: url('./icons/ext-link.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
	}

	&.external::before {
		content: '';
		position: absolute;
		bottom: 0.08em;
		left: 0;
		height: 0.08em;
		width: 100%;
		background: var(--text-primary);
	}

	&:hover {
		background: var(--accent-grad);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

	&:hover::before {
		background: var(--accent-grad);
	}
}

// a[href^="http"]:not(:has(svg, img))::after {

h1,
h2,
h3 {
	font-size: 1em;
	font-weight: var(--font-weight-normal);
}

.main-content {
	max-width: 640px;
	margin: 0 auto;
}
